
name: Validate JSON

on:
  push:
    paths:
      - "licenseService.json"

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Validar JSON
        run: jq . licenseService.json
